* {
  margin: 0;
  padding: 1px;
  border: 2px;
  box-sizing: border-box;
}

.bar {
  display: absolute;
  height: 100vh;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  color: aquamarine;
  background-image: linear-gradient(rgba(5, 0, 136, 0.5), rgba(5, 0, 136, 0.5)), url("../assets/img/back8.png");
  background-position: center;
  background-size: cover;
  overflow: scroll;
}

/*Contact Form*/
.dbox {
  margin-left: 10%;
  height: 150vh;
}

/*Services*/
.services {
  margin-top: 3%;
  margin-right: 20px;
}

/*Navbar*/
.nav-bar {
  z-index: 99;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  width: 100%;
  margin-top: 1%;
  padding: 5px 5%;
  list-style: none;
  border-radius: 30px 20px 30px 30px;
}
.nav-bar:hover {
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.1);
}

/*Footer*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  height: 15%;
  width: 98%;
  bottom: 0%;
}

/*Contact Form*/
.box1 {
  display: flex;
  flex-direction: column;
  height: 5vh;
  width: 70%;
  margin-left: 1%;
  padding-top: 5px;
}

.box2 {
  display: flex;
  flex-direction: column;
  height: 5vh;
  width: 70%;
  margin-left: 1%;
  padding-top: 20px;
}

.box3 {
  display: flex;
  flex-direction: column;
  height: 5vh;
  width: 70%;
  margin-left: 1%;
  padding-top: 40px;
}

.box4 {
  display: flex;
  flex-direction: column;
  height: 20vh;
  width: 70%;
  margin-left: 1%;
  padding-top: 60px;
}

/*Portafolio*/
.project-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  -webkit-animation: moveright 1s linear 1;
          animation: moveright 1s linear 1;
}

/*Index Grids*/
.content {
  display: grid;
  grid-template-areas: "title   photos" "legend  photos" "button  photos";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 180px 140px 60px;
  width: 80%;
  margin-left: 2%;
  padding: 5%;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  -webkit-animation: slideleft 1s linear forwards;
          animation: slideleft 1s linear forwards;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
  visibility: hidden;
}

@-webkit-keyframes slideleft {
  0% {
    transform: translateX(-100px);
    visibility: visible;
  }
  100% {
    transform: translatex(0);
    visibility: visible;
  }
}

@keyframes slideleft {
  0% {
    transform: translateX(-100px);
    visibility: visible;
  }
  100% {
    transform: translatex(0);
    visibility: visible;
  }
}
/*Contact Form Grids*/
.split-screen {
  display: grid;
  grid-template-areas: "title contact2" "info3 contact2";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 20% 80%;
  margin-top: 3%;
  margin-left: 10%;
  height: 60vh;
  width: 70%;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  border: 1px solid #fff;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 12px 12px 24px 2px rgba(79, 209, 197, 0.64);
  -webkit-animation: zoomin 1s linear 1s;
          animation: zoomin 1s linear 1s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  visibility: hidden;
}

/*About Grids*/
.about-abt {
  display: grid;
  grid-template-areas: "picture   title2" "picture   name" "picture   motus" "picture   description" "picture   butt";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, 10%) 30% 20%;
  height: 90vh;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  -webkit-animation: moveright 4s linear;
          animation: moveright 4s linear;
}

/*Menu*/
.menu {
  display: flex;
}
.menu li {
  padding-left: 30px;
  float: left;
}
.menu a {
  display: block;
  position: relative;
  text-align: center;
  margin: 10px -5% 20px 30px;
  font-size: medium;
  color: #30c4ab;
  text-decoration: none;
  list-style: none;
  -webkit-animation: movedown 1s linear 1;
          animation: movedown 1s linear 1;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  visibility: hidden;
}
.menu a:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transition: 0.3s ease-in-out;
}
.menu a:hover {
  color: #fff;
}
.menu a:hover:after {
  width: 100%;
  color: #fff;
}

.submenu {
  display: flex;
}
.submenu li {
  padding-left: 30px;
  float: left;
}

.dropdown_menu {
  display: none;
}

.submenu:hover .dropdown_menu {
  cursor: pointer;
  display: block;
  position: absolute;
}
.submenu:hover .dropdown_menu ul {
  display: flex;
  flex-direction: column;
  height: 70%;
  margin-top: -5%;
}
.submenu:hover .dropdown_menu ul li {
  overflow: hidden;
}
.submenu:hover .dropdown_menu ul li a {
  text-align: left;
}
.submenu:hover .dropdown_menu ul li a:after {
  width: auto;
}
.submenu:hover .dropdown_menu ul li a:hover {
  color: #fff;
}

.open-menu,
.close-menu {
  position: absolute;
  display: none;
  color: #43D0B8;
  font-size: 1.5rem;
}

.open-menu ul li {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.close-menu {
  top: 57px;
  right: 22px;
}

#check {
  display: none;
}

/*Index Button*/
.wrap {
  grid-area: button;
  display: inline-block;
  position: relative;
  margin-top: 1%;
  margin-left: 20%;
}
.wrap .btn {
  display: flex;
  justify-content: center;
  padding: 10px 50px;
  border: 1px solid #fff;
  border-radius: 30px;
  text-decoration: none;
  width: 60%;
  color: #fff;
  font-size: 1em;
}
.wrap .btn:hover {
  color: #AB3EA6;
  border: 1px solid #AB3EA6;
  -webkit-animation: pulsate 4s;
          animation: pulsate 4s;
}
@-webkit-keyframes pulsate {
  0% {
    box-shadow: 0 0 25px #AB3EA6, 0 0 25px #5a0c59;
  }
}
@keyframes pulsate {
  0% {
    box-shadow: 0 0 25px #AB3EA6, 0 0 25px #5a0c59;
  }
}

/*Contact Form Button*/
.wrap4 {
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 60%;
}

.btn2 {
  padding: 10px 50px;
  border: 1px solid #fff;
  border-radius: 30px;
  text-decoration: none;
  width: 53%;
  color: #fff;
}
.btn2:hover {
  color: #AB3EA6;
  border: 1px solid #AB3EA6;
  -webkit-animation: pulsate 4s;
          animation: pulsate 4s;
}

/*Portafolio Button*/
[type=radio] {
  display: none;
}

/*About Button*/
.wrap-abt {
  grid-area: butt;
  justify-content: center;
  width: 100%;
  margin-top: 4%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  color: #fff;
}
.wrap-abt a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 30%;
  margin-left: 40%;
  color: #fff;
}

.about-btn {
  margin-left: 55%;
  margin-top: 1%;
  padding: 10px 50px;
  border: 1px solid #fff;
  border-radius: 30px;
}
.about-btn:hover {
  color: #43D0B8;
  border: 1px solid #30c4ab;
  -webkit-animation: pulsate 4s;
          animation: pulsate 4s;
}

@keyframes pulsate {
  0% {
    box-shadow: 0 0 25px #43D0B8, 0 0 25px #30c4ab;
  }
}
/*Navbar logo*/
.logo img {
  display: flex;
  height: 120px;
  width: 150px;
  margin-top: -5%;
  margin-left: -40%;
  -webkit-animation: movedown 1s linear 1;
          animation: movedown 1s linear 1;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  visibility: hidden;
}

@-webkit-keyframes movedown {
  0% {
    transform: translateY(-100px);
    visibility: visible;
  }
  100% {
    transform: translateY(0);
    visibility: visible;
  }
}

@keyframes movedown {
  0% {
    transform: translateY(-100px);
    visibility: visible;
  }
  100% {
    transform: translateY(0);
    visibility: visible;
  }
}
/*Index image*/
.profile {
  grid-area: photos;
  margin-top: 0%;
  margin-left: 30%;
  margin-right: 30%;
  height: 87%;
  width: 100%;
}
.profile img {
  max-height: 100%;
  max-width: auto;
  border-radius: 50%;
  box-shadow: 12px 12px 24px 2px rgba(79, 209, 197, 0.64);
  -webkit-animation: zoomin 1s linear 1s;
          animation: zoomin 1s linear 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
  visibility: hidden;
}
@-webkit-keyframes zoomin {
  0% {
    transform: scale(0.5);
    visibility: visible;
  }
  100% {
    transform: scale(1);
    visibility: visible;
  }
}
@keyframes zoomin {
  0% {
    transform: scale(0.5);
    visibility: visible;
  }
  100% {
    transform: scale(1);
    visibility: visible;
  }
}

/*Footer image*/
footer div img {
  height: 60px;
  width: 60px;
  margin-top: 20px;
  margin-right: 100px;
  -webkit-animation: moveright 1s linear 1;
          animation: moveright 1s linear 1;
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  visibility: hidden;
}
@-webkit-keyframes moveright {
  0% {
    transform: translateX(-100px);
    visibility: visible;
  }
  100% {
    transform: translateX(0);
    visibility: visible;
  }
}
@keyframes moveright {
  0% {
    transform: translateX(-100px);
    visibility: visible;
  }
  100% {
    transform: translateX(0);
    visibility: visible;
  }
}

/*About Images*/
.picture {
  grid-area: picture;
  margin-top: 1%;
  padding-left: 15%;
}
.picture img {
  height: 80%;
  width: 90%;
  border-radius: 50%;
}

/*Services Images*/
.col {
  margin-top: 3%;
  margin-left: 10%;
  height: 25rem;
  width: 20rem;
}

.design {
  justify-content: center;
  margin-top: 0%;
}
.design img {
  margin-top: 12%;
  font-weight: 100;
  height: 100vh;
  width: 25vh;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  transition: 1s ease-in-out;
  width: 180px;
}
.design img:hover {
  transform: scale(1.3);
  -ms-transform: scale(1.5);
  /* IE 9 */
  -moz-transform: scale(1.5);
  /* Firefox */
  -webkit-transform: scale(1.5);
  /* Safari and Chrome */
  -o-transform: scale(1.5);
}

/*Carousel portafolio*/
#slider {
  height: 60vh;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}
#slider label {
  margin-top: 1%;
  margin-left: 30%;
  width: 40%;
  height: 70%;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}

#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(-40%, 0%, -200px);
}

#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(-20%, 0%, -100px);
}

#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
  transform: translate3d(0, 0, 0);
}

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(20%, 0, -100px);
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(40%, 0%, -200px);
}

/*Portafolio list*/
.project-cont ul {
  padding-right: 0%;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  width: 100;
  margin: 20px 5px 20px 60px;
  font-weight: 100;
  list-style: none;
  border-radius: 28px;
  box-shadow: 1px 0.5px 0.5px 1px rgba(79, 209, 197, 0.64);
}
.project-cont ul li a {
  display: flex;
  justify-content: center;
  margin: 20px 50px 20px 50px;
  font-weight: 100;
  font-size: 1.2em;
  color: #fff;
  list-style: none;
  text-decoration: none;
}
.project-cont ul li a:hover {
  color: #AB3EA6;
}

/*Services List*/
.services {
  margin-top: 15%;
}

.list-services {
  width: 80%;
  height: 50vh;
  -webkit-animation: moveright2 4s linear 1;
          animation: moveright2 4s linear 1;
}
@-webkit-keyframes moveright2 {
  0% {
    transform: translateX(-80px);
    visibility: visible;
  }
  100% {
    transform: translateX(0);
    visibility: visible;
  }
}
@keyframes moveright2 {
  0% {
    transform: translateX(-80px);
    visibility: visible;
  }
  100% {
    transform: translateX(0);
    visibility: visible;
  }
}
.list-services div p {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 110%;
  margin-top: 15%;
  margin-left: 0%;
  font-size: 1.8em;
  color: #fff;
}
.list-services div p:hover {
  color: #43D0B8;
}
.list-services h5 {
  width: 100%;
  font-weight: 400;
  margin-left: -100%;
  gap: 10px;
  color: #AB3EA6;
  font-size: 3em;
}

/*Index text*/
.legend {
  grid-area: legend;
  margin-top: 0%;
  width: 500px;
  line-height: 1.7;
  font-size: 1.3em;
}

/*Contact Form*/
.wrapper {
  grid-area: info3;
  text-align: left;
  width: 75%;
  margin-top: 6%;
  margin-left: 15%;
  font-weight: 200;
  font-size: 0.9em;
  line-height: 2.1em;
}

.contact {
  grid-area: contact2;
  margin-top: 8%;
  margin-left: 5%;
}

.box1 input {
  height: 5vh;
  padding-top: 5%;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: medium;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.box2 label {
  margin-top: 4%;
}
.box2 input {
  padding-top: 5%;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: medium;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.box3 label {
  margin-top: 6%;
}
.box3 input {
  padding-top: 5%;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: medium;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.box4 label {
  margin-top: 8%;
}
.box4 textarea {
  padding-top: 5%;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: medium;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

/*About text*/
.description {
  grid-area: description;
  width: 70%;
  margin-top: 3%;
  margin-right: 20%;
  margin-left: 20%;
  font-size: 1em;
  line-height: 1.3em;
  color: #fff;
}

/*Index titles*/
.title {
  grid-area: title;
  width: 100%;
  margin-top: 8%;
  font-size: 3em;
  line-height: 50px;
}

/*Contact Form titles*/
.copy {
  grid-area: title;
  margin-top: 8%;
  margin-left: 15%;
  font-size: 2em;
}

/*Portafolio titles*/
.project-cont {
  margin-left: -5%;
}
.project-cont h1 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 0px;
  font-weight: 400;
  font-size: 2.6em;
  color: #AB3EA6;
}

/*About titles*/
.title2 {
  grid-area: title2;
  text-align: center;
  height: relative;
  width: 100%;
  margin-top: 3%;
  font-weight: 200;
  font-size: 1.7em;
}

.name {
  grid-area: name;
  text-align: center;
  width: 100%;
  margin-top: 0%;
  font-weight: 400;
  font-size: 3em;
  color: #b724af;
}

.motus {
  grid-area: motus;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1%;
  font-weight: 200;
  font-size: 1.5em;
  color: #AB3EA6;
}

/*cards*/
.menup {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0%;
}

.cardp {
  margin-top: -4%;
  margin-left: 5%;
  width: 25%;
  height: 90%;
  perspective: 1000px;
  cursor: pointer;
}

.card-inner {
  position: relative;
  width: 100%;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.front-face {
  background: linear-gradient(-45deg, #43D0B8, #9a4eff);
  color: #fff;
  border-radius: 10px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.front-face img {
  width: 100%;
  height: 40vh;
  border-radius: 10px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
}

.animated {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, aquamarine 0%, yellow 29%, #b724af 67%, #43D0B8 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: textclip 3s linear infinite;
          animation: textclip 3s linear infinite;
  display: inline-block;
}

@-webkit-keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.back-face {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: rgb(33, 228, 219);
  color: yellow;
  position: absolute;
  height: 40vh;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transform: rotateY(180deg);
}
.back-face h2 {
  margin-top: 2%;
  font-size: 2em;
  font-weight: 600;
}
.back-face p {
  margin-top: 8%;
  margin-left: 10%;
  width: 80%;
  color: #fff;
}

.front-face {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.front-face img {
  width: 100%;
  border-radius: 10px;
}

.centered {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.back-face-p {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  color: #AB3EA6;
  position: absolute;
  height: 31vh;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transform: rotateY(180deg);
}
.back-face-p h2 {
  margin-top: -15%;
  font-size: 1.8em;
  font-weight: 300;
}
.back-face-p p {
  margin-top: 3%;
  margin-left: 10%;
  width: 80%;
  color: #fff;
}

.wrap-pyth {
  height: 6vh;
  margin-top: 8%;
}
.wrap-pyth a {
  text-align: center;
  text-decoration: none;
}

.pyth-btn {
  text-decoration: none;
  padding: 10px 30px;
  border: 1px solid #fff;
  border-radius: 30px;
  text-decoration: none;
  width: 53%;
  color: #fff;
  background-color: rgb(33, 228, 219);
}
.pyth-btn:hover {
  color: rgb(198, 37, 220);
  border: 1px solid rgb(198, 37, 220);
}

.cardp:hover .card-inner {
  transform: rotateY(-180deg);
}

@media (max-width: 1024px) {
  /*Navbar 1024 Query*/
  .logo img {
    height: 100px;
    width: 120px;
  }
  /*Index 1024 Query*/
  .content {
    margin-left: 5%;
    grid-template-rows: 100px 150px 60px;
  }
  .title {
    font-size: 2em;
  }
  .legend {
    margin-top: 5%;
    font-size: 1em;
  }
  .profile {
    margin-top: 3%;
    margin-left: 15%;
  }
  .profile img {
    max-height: 80%;
    max-width: auto;
  }
  .wrap {
    grid-area: button;
  }
  .wrap .btn {
    font-size: 0.9em;
    width: 55%;
  }
  /*Footer 1024 Query*/
  footer div img {
    width: 55px;
    height: 55px;
  }
  /*Contact Form 1024 Query*/
  .copy {
    height: 100%;
    padding-top: 5%;
    margin-left: 15%;
    font-size: 1.5em;
  }
  .wrapper {
    text-align: left;
    font-size: 0.8em;
    margin-top: 1%;
    padding-top: 6%;
  }
  .contact {
    margin-top: 12%;
    font-size: x-small;
    font-weight: 100;
  }
  .box1 input {
    font-size: 1em;
  }
  .box2 label {
    margin-top: 6%;
  }
  .box2 input {
    font-size: 1em;
  }
  .box3 label {
    margin-top: 8%;
  }
  .box3 input {
    font-size: 1em;
  }
  .box4 label {
    margin-top: 6%;
  }
  .box4 textarea {
    font-size: 1em;
  }
  .wrap4 {
    margin-top: 15%;
    margin-left: 30%;
  }
  /*Portafolio 1024 Query*/
  .project-cont {
    margin-left: -5%;
    height: 10vh;
  }
  .project-cont ul {
    margin-top: 0%;
    width: 110%;
    margin-left: 0%;
  }
  .project-cont ul li {
    margin-left: 3%;
    font-size: 1em;
  }
  .project-cont h1 {
    margin-top: 0%;
    margin-left: 3%;
    font-size: 2.6em;
  }
  #slider {
    height: 60vh;
    width: 100%;
    margin-top: 12%;
    margin-left: 2%;
  }
  /*About 1024 Query*/
  .title2 {
    font-size: 1.4em;
  }
  .name {
    font-size: 2em;
    margin-top: 1%;
  }
  .motus {
    font-size: 1.2em;
  }
  .about-abt {
    grid-template-rows: repeat(2, 10%) 6% 50% 20%;
    height: 67vh;
  }
  .description {
    margin-top: 5%;
    font-size: 0.9em;
    line-height: 2em;
  }
  .wrap-abt {
    margin-top: 6%;
    font-size: 0.8em;
  }
  /*Services 1024 Query*/
  .row {
    margin-right: 0%;
  }
  .col {
    width: 15rem;
  }
  .hig {
    margin-top: -3%;
    width: 150%;
  }
  /*Cards 1024 Query*/
  .menup {
    display: grid;
    grid-template-areas: "card1 card2 card3";
    height: 100vh;
    width: 100%;
    font-family: "Montserrat", sans-serif;
  }
  .cardp {
    margin-left: -10%;
    margin-top: 50%;
  }
  .card1 {
    grid-area: card1;
    width: 100%;
  }
  .centered {
    font-size: 4em;
  }
  .card2 {
    grid-area: card2;
    margin-left: 0%;
    width: 100%;
  }
  .card3 {
    grid-area: card3;
    margin-left: 10%;
    width: 100%;
  }
  .back-face h2 {
    margin-top: -10%;
  }
  .back-face p {
    margin-top: 8%;
  }
  .wrap-pyth {
    margin-top: 5%;
  }
  .pyth-btn {
    width: 90%;
  }
}
@media (max-width: 850px) {
  /*Navbar 850 Query*/
  .logo img {
    height: 100px;
    width: 120px;
    margin-left: -30%;
  }
  .menu li a {
    margin-left: 1%;
  }
  /*Index 850 Query*/
  .content {
    display: grid;
    height: 130vh;
    width: 90%;
    margin-left: 2%;
    grid-template-areas: "title" "photo" "legend" "button";
    grid-template-columns: 2fr;
    grid-template-rows: 10% 40% 25% 30%;
  }
  .title {
    grid-area: title;
    text-align: center;
    font-size: 2em;
  }
  .profile {
    grid-area: photo;
    text-align: center;
    max-height: 100%;
    margin-top: 8%;
    margin-left: 0%;
  }
  .profile img {
    border-radius: 50%;
    max-width: 30%;
    height: 90%;
  }
  .legend {
    grid-area: legend;
    text-align: center;
    width: 80%;
    margin-top: 3%;
    margin-left: 10%;
    font-size: 1.2em;
    line-height: 35px;
  }
  .wrap {
    grid-area: button;
  }
  .wrap .btn {
    display: absolute;
    text-align: center;
    width: 70%;
    margin-top: 4%;
  }
  /*Footer 850 Query*/
  footer {
    justify-content: center;
    position: relative;
  }
  footer div img {
    width: 55px;
    height: 55px;
    margin-right: 30px;
    margin-left: 10px;
  }
  /*Contact Form 850 Query*/
  .dbox {
    height: 100vh;
  }
  .split-screen {
    display: grid;
    grid-template-areas: "titlec" "info3" "contact2" "butt2";
    grid-template-columns: 1fr;
    grid-template-rows: 10% 30% 50% 10%;
    height: 90vh;
  }
  .copy {
    grid-area: titlec;
    justify-content: center;
    font-size: 1.2em;
    margin-top: 0%;
    margin-left: 30%;
  }
  .wrapper {
    grid-area: info3;
    margin-top: 1%;
    line-height: 20px;
    font-size: 0.75em;
  }
  .contact {
    grid-area: contact2;
    margin-top: 1%;
    margin-left: 20%;
  }
  .box1 label {
    margin-top: 1%;
    font-size: 0.85em;
  }
  .box2 label {
    margin-top: 3%;
    font-size: 0.85em;
  }
  .box3 label {
    margin-top: 5%;
    font-size: 0.85em;
  }
  .box4 label {
    margin-top: 3%;
    font-size: 0.85em;
  }
  .wrap4 {
    grid-area: butt2;
    margin-top: 10%;
    margin-left: 20%;
  }
  /*Portafolio 850 Query*/
  .frit {
    display: grid;
    grid-template-areas: "titlepr" "optpr" "cardpr";
    height: 130vh;
    width: 100%;
    grid-template-rows: 8% 12% 80%;
    font-family: "Montserrat", sans-serif;
  }
  .project-cont {
    height: 30vh;
  }
  .project-cont h1 {
    grid-area: titlepr;
    margin-top: 3%;
    justify-content: center;
    font-size: 2.6em;
  }
  .project-cont ul {
    width: 90%;
    margin-top: 5%;
    font-size: 0.9em;
    margin-left: 5%;
  }
  .project-cont ul li {
    grid-area: optpr;
    width: 100%;
    justify-content: center;
    margin-left: -9%;
  }
  #slider {
    height: 50vh;
    width: 100%;
    margin-top: 5%;
    margin-left: -10%;
    transition: 1s ease-in-out;
  }
  #slider:hover {
    transform: scale(1.2);
  }
  #slider img {
    width: 150%;
    height: auto;
  }
  /*Cards 850 Query*/
  .menup {
    grid-area: cardpr;
    margin-top: 6%;
    display: grid;
    grid-template-areas: "card1   card2" "card3  card4";
    height: 110vh;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 40%);
    font-family: "Montserrat", sans-serif;
  }
  .cardp {
    margin-left: 15%;
    margin-top: 0%;
  }
  .card1 {
    grid-area: card1;
    width: 80%;
  }
  .card2 {
    grid-area: card2;
    width: 80%;
    margin-left: 5%;
  }
  .card3 {
    grid-area: card3;
    margin-top: 10%;
    width: 80%;
  }
  /*About 850 Query*/
  .about-abt {
    grid-template-areas: "title3" "name3" "motus3" "picture2a" "description" "butt";
    height: 100vh;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 8% 10% 5% 35% 25% 10%;
  }
  .title2 {
    grid-area: title3;
    text-align: center;
    position: relative;
    margin-top: 2%;
    font-size: 1.4em;
  }
  .name {
    grid-area: name3;
    text-align: center;
    margin-top: 1%;
    font-size: 1.8;
  }
  .motus {
    grid-area: motus3;
    text-align: center;
    margin-top: 0%;
    font-size: 1.2em;
  }
  .picture {
    grid-area: picture2a;
    justify-content: center;
    margin-top: 0%;
    margin-left: 25%;
  }
  .picture img {
    max-width: 30%;
    height: 80%;
  }
  .description {
    grid-area: description;
    text-align: center;
    width: 80%;
    margin-top: 0%;
    margin-left: 10%;
    font-size: 1em;
    line-height: 1.4em;
  }
  .wrap-abt {
    grid-area: butt;
    text-align: center;
    margin-top: 1%;
  }
  .wrap-abt a {
    margin-left: 0%;
    font-size: 1em;
  }
  /*Services 850 Query*/
  .col {
    margin-left: 8%;
  }
  .list-services {
    height: 45vh;
    margin-top: 10%;
    margin-left: 5%;
  }
  .list-services h5 {
    margin-left: 20%;
    font-size: 1.5em;
  }
  .list-services div {
    width: 100%;
    margin-left: 1%;
  }
  .list-services div p {
    width: 90%;
    font-size: 1.2em;
    margin-top: 4%;
    margin-left: 25%;
  }
  .design img {
    height: 15vh;
    width: 20vh;
    margin-top: 8%;
    margin-left: 40%;
  }
}
@media (max-width: 683px) {
  /*Menu 683 Query*/
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100vh;
    width: 80%;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.2s ease-in-out;
  }
  .menu li {
    margin-top: 0px;
  }
  .menu li a {
    padding: 10px;
  }
  .submenu {
    display: flex;
  }
  .submenu li {
    padding-left: 30px;
    float: left;
  }
  .dropdown_menu {
    display: none;
  }
  .submenu:hover .dropdown_menu {
    position: static;
    top: 50%;
    display: block;
  }
  .submenu:hover .dropdown_menu ul {
    display: flex;
    flex-direction: column;
  }
  .submenu:hover .dropdown_menu ul li {
    overflow: hidden;
    flex-direction: column;
    margin-left: 5%;
    width: 70%;
  }
  .submenu:hover .dropdown_menu ul li a {
    text-align: center;
    margin-top: 2%;
  }
  .submenu:hover .dropdown_menu ul li a:after {
    width: auto;
  }
  .submenu:hover .dropdown_menu ul li a:hover {
    color: #fff;
  }
  .open-menu,
.close-menu {
    position: absolute;
    display: block;
  }
  .open-menu {
    position: relative;
  }
  .open-menu ul li {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
  #check:checked ~ .menu {
    right: 0;
  }
  /*Index 683 Query*/
  .title {
    font-size: 1.5em;
  }
  .profile img {
    max-width: 50%;
  }
  .legend {
    font-size: 1.1em;
  }
  .wrap {
    grid-area: button;
  }
  .wrap .btn {
    font-size: 0.9em;
  }
  /*About 683 Query*/
  .about-btn {
    margin-top: 3%;
  }
  .description {
    margin-top: 1%;
  }
  .picture {
    height: 100%;
    width: 80%;
  }
  .picture img {
    height: 100%;
    max-width: 35%;
  }
  /*Services 683 Query*/
  .col {
    margin-left: -12%;
    margin-top: 2%;
    width: 90%;
    height: 5%;
  }
  .design img {
    height: 15vh;
    width: 40vh;
    margin-top: 8%;
    margin-left: 6%;
  }
  .wth img {
    margin-left: -4%;
    width: 35vh;
  }
  .col div {
    display: flex;
    flex-direction: vertical;
    align-content: horizontal;
  }
  .col div p {
    width: 150%;
    height: 40%;
    font-size: 1rem;
    margin-top: 15%;
    margin-left: 5%;
  }
  .col div h5 {
    margin-top: 12%;
    font-size: 1.3rem;
  }
  .list-services {
    height: 25vh;
    margin-top: 2%;
  }
  /*Portafolio 683 Query*/
  .frit {
    height: 130vh;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 8% 12% 80%;
  }
  .project-cont {
    width: 70%;
  }
  .project-cont h1 {
    margin-left: 34%;
    font-size: 2.4em;
    width: 80%;
  }
  .project-cont ul {
    width: 80%;
    margin-left: 30%;
  }
  /*Cards 683 Query*/
  .menup {
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: repeat(2, 40%);
  }
  .card1 {
    margin-left: 5%;
  }
  .card2 {
    margin-left: 3%;
  }
  .card3 {
    margin-left: 3%;
  }
  .centered {
    font-size: 2.9em;
  }
}
@media (max-width: 550px) {
  /*Index 550 Query*/
  .content {
    width: 70%;
    height: 120vh;
    margin-left: 12%;
    grid-template-rows: 15% 40% 30% 15%;
  }
  .title {
    text-align: center;
    margin-top: 6%;
    font-size: 1.3em;
  }
  .profile {
    margin-top: 10%;
  }
  .profile img {
    height: 80%;
    max-width: 60%;
  }
  .legend {
    font-size: 0.9em;
    margin-top: 5%;
  }
  .wrap {
    width: 100%;
    margin-top: 2%;
    margin-left: 15%;
  }
  .wrap .btn {
    text-align: center;
    font-size: 0.8em;
  }
  /*Footer 550 Query*/
  footer div img {
    width: 50px;
    height: 50px;
    margin-top: 20px;
  }
  /*Contact Form 550 Query*/
  .split-screen {
    margin-top: 5%;
    grid-template-rows: 10% 30% 45% 10%;
  }
  .copy {
    text-align: center;
    margin-left: 10%;
  }
  .wrapper {
    margin-left: 15%;
    line-height: 15px;
    line-height: 20px;
  }
  .contact {
    margin-top: 1%;
  }
  .box1 {
    margin-top: 10%;
    font-size: 1.2em;
  }
  .box1 input {
    font-size: small;
  }
  .box2 {
    font-size: 1.2em;
  }
  .box2 input {
    font-size: small;
  }
  .box3 {
    font-size: 1.2em;
  }
  .box3 input {
    font-size: small;
  }
  .box4 {
    font-size: 1.2em;
  }
  .box4 textarea {
    font-size: small;
  }
  .wrap4 {
    margin-left: 10%;
  }
  .btn2 {
    font-size: 10px;
    width: 100%;
    font-size: 0.75em;
  }
  /*Portafolio 550 Query*/
  .frit {
    width: 100%;
    height: 180vh;
    grid-template-rows: 6% 10% 80%;
  }
  .project-cont {
    width: 60%;
  }
  .project-cont h1 {
    width: 80%;
    margin-left: 40%;
    font-size: 1.8em;
  }
  .project-cont ul {
    display: flex;
    justify-content: center;
    width: 98%;
    padding-right: 0%;
    margin-top: 10%;
  }
  .project-cont ul li {
    margin-top: 1%;
    margin-left: 1%;
    font-size: 0.8em;
  }
  .project-cont ul li a {
    margin-left: 0%;
  }
  #slider {
    height: 100%;
    margin-top: 5%;
    margin-left: -9%;
  }
  /*Cards 550 Query*/
  .menup {
    grid-template-areas: "card6" "card7" "card8";
    height: 160vh;
    width: 100%;
    margin-top: -4%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 30%);
  }
  .card1 {
    grid-area: card6;
    width: 60%;
    margin-left: 18%;
  }
  .centered {
    font-size: 3em;
  }
  .card2 {
    grid-area: card7;
    width: 60%;
    margin-top: 3%;
    margin-left: 18%;
  }
  .card3 {
    grid-area: card8;
    width: 60%;
    margin-top: 5%;
    margin-left: 18%;
  }
  /*About 550 Query*/
  .about-abt {
    grid-template-rows: 5% 7% 5% 40% 35% 10%;
  }
  .title2 {
    font-size: 1em;
  }
  .name {
    font-size: 1.4em;
  }
  .motus {
    font-size: 0.9em;
  }
  .picture {
    text-align: center;
    margin-top: 0%;
    max-height: 120%;
    width: 100%;
    margin-left: 0%;
    padding-left: 0%;
  }
  .description {
    font-size: 0.9em;
    line-height: 1.5em;
    margin-top: 5%;
  }
  .wrap-abt a {
    margin-top: 1%;
    text-align: center;
    width: 80%;
    font-size: 0.8em;
  }
  /*Services 550 Query*/
  .design img {
    margin-top: 10%;
    height: 15vh;
    width: 30vh;
  }
  .wth img {
    width: 25vh;
  }
  .col div p {
    width: 100%;
    font-size: 0.9rem;
    margin-left: 3%;
  }
  .col div h5 {
    margin-top: 15%;
    font-size: 1.1rem;
  }
  .list-services {
    height: 25vh;
    margin-top: 2%;
  }
}
@media (max-width: 400px) {
  /*About 400 Query*/
  .about-abt {
    grid-template-rows: 4% 6% 4% 30% 35% 15%;
  }
  .title2 {
    font-size: 0.9em;
  }
  .name {
    margin-top: 2%;
    font-size: 1.4em;
  }
  .motus {
    font-size: 0.8em;
  }
  .picture {
    margin-top: -5%;
    max-height: 110%;
    width: 100%;
  }
  .description {
    margin-top: 4%;
    font-size: 0.9em;
    line-height: 1.4em;
    margin-top: 5%;
    overflow-y: scroll;
  }
  .wrap-abt a {
    margin-top: 4%;
    text-align: center;
    width: 80%;
    font-size: 0.7em;
  }
  /*Index 400 Query*/
  .content {
    height: 100vh;
    width: 100%;
    margin-left: 0%;
    grid-template-rows: 12% 40% 30% 10%;
  }
  .title {
    margin-left: 2%;
    align-items: center;
    font-size: 1.2em;
  }
  .profile {
    margin-top: 15%;
  }
  .profile img {
    height: 90%;
    max-width: 60%;
  }
  .legend {
    width: 90%;
    margin-top: 10%;
    margin-left: 4%;
    font-size: 12px;
    line-height: 20px;
  }
  .wrap {
    margin-top: 0%;
    -o-object-position: center;
       object-position: center;
    width: 80%;
  }
  .wrap .btn {
    width: 90%;
    font-size: 0.7em;
  }
  /*Contact Form 400 Query*/
  .split-screen {
    height: 90vh;
    grid-template-rows: 10% 20% 55% 15%;
  }
  .copy {
    margin-top: 8%;
    margin-left: 3%;
    font-size: 1em;
    width: 100%;
  }
  .wrapper {
    font-size: 0.2em;
    margin-left: 10%;
    width: 85%;
  }
  .contact {
    margin-top: 20%;
    height: 10%;
  }
  .box1 {
    padding-top: 0%;
    font-size: 0.2em;
  }
  .box2 {
    padding-top: 5%;
    font-size: 0.2em;
  }
  .box3 {
    padding-top: 8%;
    font-size: 0.2em;
  }
  .box3 label {
    margin-top: 7%;
  }
  .box4 {
    padding-top: 12%;
    font-size: 0.2em;
  }
  .box4 label {
    margin-top: 10%;
    font-size: 0.2em;
  }
  .box4 textarea {
    padding-top: 0%;
    height: 40%;
  }
  .wrap4 {
    margin-top: 5%;
    margin-left: 5%;
  }
  .btn2 {
    font-size: 8px;
    width: 10%;
  }
  /*Portafolio 400 Query*/
  .project-cont {
    height: 20vh;
  }
  .project-cont h1 {
    font-size: 1.6em;
    margin-left: 38%;
  }
  .project-cont ul {
    height: 40%;
    margin-left: 35%;
  }
  .project-cont ul li {
    font-size: 0.8em;
    margin-left: 2%;
  }
  #slider {
    margin-top: 10%;
    margin-left: -10%;
  }
  /*Services 400 Query*/
  .col {
    margin-left: -12%;
  }
  .design img {
    height: 15vh;
    width: 30vh;
  }
  .wth img {
    width: 25vh;
  }
  .col div p {
    font-size: 0.8rem;
  }
  .col div h5 {
    font-size: 1rem;
  }
}/*# sourceMappingURL=main.css.map */