$primarycolor:aquamarine;  
$thirdcolor:#AB3EA6;
$fourthcolor:#5a0c59;
$solidcolor:#fff;
$listservice:#43D0B8;
$principal:#b724af;
$solidbutton:#30c4ab;
$background:rgba(5,0,136,0.5);
$back1:rgba(0,0,0,0.1);
$shadow:rgba(79,209,197,.64);
$shadow2:rgba(0,0,0,.3);
$shadow3:rgba(0,0,0,.2);
$shadow4:rgba(0,0,0,.37);
$shadow5:rgba(0,0,0,.19);
$titlec:yellow;
$colorp:rgb(198, 37, 220);
$colorcard:rgb(33, 228, 219); 
$colorcardfro:#9a4eff 

