/*Navbar*/
.nav-bar{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    width: 100%;
    margin-top: 1%;
    padding: 5px 5%;
    list-style: none;
    border-radius: 30px 20px 30px 30px;
    &:hover{
        height: 15vh;
        background-color:$back1;
      }
  }
/*Footer*/
  footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    height: 15%; 
    width: 98%;
    bottom: 0%;
    }
/*Contact Form*/
.box1{
    display: flex;
    flex-direction: column;
    height: 5vh;
    width:70%;
    margin-left: 1%;
    padding-top: 5px ;
    font-size: 14px;
  }
  .box2{
    display: flex;
    flex-direction: column;
    height: 5vh;  
    width:70%;
    margin-left: 1%;
    padding-top: 20px ;
    font-size: 14px;
  }
  .box3{
    display: flex;
    flex-direction: column;
    height: 5vh;
    width:70%;
    margin-left: 1%;
    padding-top: 40px ;
    font-size: 14px;
  }
  .box4{
    display: flex;
    flex-direction: column;
    height: 20vh;
    width:70%;
    margin-left: 1%;
    padding-top: 60px ;
    font-size: 14px;
  }
/*Portafolio*/
.project-cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: large;
  animation: moveright 1s linear 1;
}
