/*Portafolio list*/
.project-cont {
  ul {

    padding-right: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    width: 100;
    margin: 20px 5px 20px 60px;
    font-weight: 100;
    list-style: none;
    border-radius: 28px;
    box-shadow: 1px 0.5px 0.5px 1px $shadow;

    li {
      display: flex;
      justify-content: center;
      margin: 20px 50px 20px 90px;
      font-weight: 100;
      font-size: 1.2em;
      color: $solidcolor;
      list-style: none;



      &:hover {
        color: $thirdcolor;
      }
    }
  }
}

/*Services List*/

.services {
  margin-top: 15%;
}

.list-services {
  width: 80%;
  height: 50vh;
  animation: moveright2 4s linear 1;


  @keyframes moveright2 {
    0% {
      transform: translateX(-80px);
      visibility: visible;
    }

    100% {
      transform: translateX(0);
      visibility: visible;
    }
  }

  div {
    p {
      display: map-get($styles_services,display);
      justify-content: map-get($styles_services,j-content);
      text-align: map-get($styles_services,t-align);
      width: 190%;
      margin-top: 15%;
      margin-left: 70%;
      font-size: map-get($styles_services,f-size);
      color: map-get($styles_services,color);

      &:hover {
        color: $listservice;
      }
    }
  }

  h5 {

    width: 100%;
    font-weight: 400;
    margin-left: 60%;
    gap: 10px;
    color: $thirdcolor;
    font-size: 2em;
  }
}