/*Menu*/
.menu {
  display: flex;
  li {
    padding-left: 30px;
    float: left;
  }
  a {
    display: block;
    position: relative;
    text-align: center;
    margin: 10px -5% 20px 30px;
    font-size: medium;
    color: $solidbutton;
    text-decoration: none;
    list-style: none;
    animation: movedown 1s linear 1;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    visibility: hidden;

    &:after {
      content: "";
      position: absolute;
      height: 1px;
      width: 0;
      bottom: 0;
      left: 0;
      background-color: $solidcolor;
      transition: 0.3s ease-in-out;
    }

    &:hover {
      color: $solidcolor;
      &:after {
        width: 100%;
        color: $solidcolor;
      }
    }
  }
}
.submenu {
  display: flex;
  li {
    padding-left: 30px;
    float: left;
  }
}
.dropdown_menu {
  display: none;
}
.submenu:hover .dropdown_menu {
  cursor: pointer;
  display: block;
  position: absolute;
  ul {
    display: flex;
    flex-direction: column;
    height: 70%;
    margin-top: -5%;
    li {
      overflow: hidden;
      a {
        text-align: left;
        &:after {
          width: auto;
        }
        &:hover {
          color: $solidcolor;
        }
      }
    }
  }
}

.open-menu,
.close-menu {
  position: absolute;
  display: none;
  color: $listservice;
  font-size: 1.5rem;
}
.open-menu {
  ul {
    li {
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
    }
  }
}
.close-menu {
  top: 57px;
  right: 22px;
}
#check {
  display: none;
}
