/*Menu*/
.menu {
  display: flex;
  

  li {
    padding-left: 30px;
    float: left;

  }

  a {
    
    display: block;
    position: relative;
    text-align: center;
    margin: 10px -5% 20px 40px;
    font-size: medium;
    color: $solidbutton;
    text-decoration: none;
    list-style: none;
    animation: movedown 1s linear 1;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    visibility: hidden;
 


  &:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: $solidcolor;
    transition: 0.30s ease-in-out;
  }

  &:hover {
    color: $solidcolor;
 &:after {
    width: 100%;
    color: $solidcolor;
  }}
} }
  


.dropdown_menu{
  display: block;
}

.dropdown_menu{
 
  display: relative;
  position: absolute;
  top: 70%;


  ul{
    display: flex;
    flex-direction: column;
   height: 70%;
   background-color: yellow;
    li{
      overflow: hidden;
    

    }
  }
  
}

.open-menu,
.close-menu {
  position: absolute;
  display: none;
  color: $listservice;
  font-size: 1.5rem;
}

.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.close-menu {
  top: 57px;
  right: 22px;
}

#check {
  display: none;
}