/*Index text*/
.legend {
  grid-area: legend;
  margin-top: 0%;
  width: 500px;
  line-height: 1.7;
  font-size: 1.3em;
}

/*Contact Form*/
.wrapper {
  grid-area: info3;
  text-align: left;
  width: 75%;
  margin-top: 6%;
  margin-left: 15%;
  font-weight: 200;
  font-size: 0.9em;
  line-height: 2.1em;
}

.contact {
  grid-area: contact2;
  margin-top: 8%;
  margin-left: 5%;
}

.box1 input {
  height: 5vh;
  padding-top: 5%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: medium;
  color: $solidcolor;
  border: none;
  border-bottom: 1px solid $solidcolor;
  outline: none;
  background: transparent;
}

.box2 {

  label {
    margin-top: 4%;
  }

  input {
    padding-top: 5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: medium;
    color: $solidcolor;
    border: none;
    border-bottom: 1px solid $solidcolor;
    outline: none;
    background: transparent;
  }
}

.box3 {
  label {
    margin-top: 6%;
  }

  input {
    padding-top: 5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: medium;
    color: $solidcolor;
    border: none;
    border-bottom: 1px solid $solidcolor;
    outline: none;
    background: transparent;
  }
}

.box4 {

  label {
    margin-top: 8%;
  }

  textarea {
    padding-top: 5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: medium;
    color: $solidcolor;
    border: none;
    border-bottom: 1px solid $solidcolor;
    outline: none;
    background: transparent;
  }
}

/*About text*/
.description {
  grid-area: description;
  width: 70%;
  margin-top: 3%;
  margin-right: 20%;
  margin-left: 20%;
  font-size: 1em;
  line-height: 1.3em;
  color: $solidcolor;
}