@media(max-width:1024px) {

  /*Navbar 1024 Query*/
  .logo img {
    height: 100px;
    width: 120px;
  }

  /*Index 1024 Query*/
  .content {
    margin-left: 5%;
    grid-template-rows: 100px 150px 60px;
  }

  .title {
    font-size: 2em;
  }

  .legend {
    margin-top: 5%;
    font-size: 1em;
  }

  .profile {

    margin-top: 3%;
    margin-left: 15%;

    img {
      max-height: 80%;
      max-width: auto;

    }
  }

  .wrap {
    grid-area: button;

    .btn {
      font-size: 0.9em;
      width: 55%;
    }
  }

  /*Footer 1024 Query*/
  footer {
    div {
      img {
        width: 55px;
        height: 55px;
      }
    }
  }

  /*Contact Form 1024 Query*/
  .copy {
    height: 100%;
    padding-top: 5%;
    margin-left: 15%;
    font-size: 1.5em;
  }

  .wrapper {
    text-align: left;
    font-size: 0.8em;
    margin-top: 1%;
    padding-top: 6%;
  }

  .contact {
    margin-top: 12%;
    font-size: x-small;
    font-weight: 100;
  }

  .box1 {
    input {
      font-size: 1em;
    }
  }

  .box2 {
    label {
      margin-top: 6%;
    }

    input {
      font-size: 1em;
    }
  }

  .box3 {
    label {
      margin-top: 8%;
    }

    input {
      font-size: 1em;
    }
  }

  .box4 {
    label {
      margin-top: 6%;
    }

    textarea {
      font-size: 1em;
    }
  }

  .wrap4 {
    margin-top: 15%;
    margin-left: 30%;
  }

  /*Portafolio 1024 Query*/
  .project-cont {
    margin-left: -5%;
    height: 10vh;

    ul {
      margin-top: 0%;
      width: 110%;
      margin-left: 0%;

      li {
        margin-left: 3%;
        font-size: 1em;
      }
    }

    h1 {
      margin-top: 0%;
      margin-left: 3%;
      font-size: 2.6em;

    }
  }

  #slider {
    height: 60vh;
    width: 100%;
    margin-top: 12%;
    margin-left: 2%;


  }

  /*About 1024 Query*/
  .title2 {
    font-size: 1.4em;
  }

  .name {
    font-size: 2em;
    margin-top: 1%;
  }

  .motus {
    font-size: 1.2em;
  }

  .about-abt {
    grid-template-rows: repeat(2, 10%) 6% 50% 20%;
    height: 67vh;
  }

  .description {
    margin-top: 5%;
    font-size: 0.9em;
    line-height: 2em;
  }


.wrap-abt {
  margin-top: 6%;
    font-size: 0.8em;
}
/*Services 1024 Query*/
.row{
  margin-right: 0%;
}
.col{ 
  width: 15rem;
}

.hig{
  margin-top: -3%;
  width: 150%;
}
/*Cards 1024 Query*/
.menup{
  display: grid;
  grid-template-areas: "card1 card2 card3";
  height: 100vh;
  width: 100%;

  font-family: 'Montserrat', sans-serif;
}
.cardp{
margin-left: -10%;
margin-top: 50%;
}
  .card1{
  grid-area: card1;
  width: 100%;
}
.centered {
  font-size: 4em; 
}
.card2{
  grid-area: card2;
  margin-left: 0%;
  width: 100%;
}
.card3{
  grid-area: card3;
  margin-left: 10%;
  width: 100%;
}
.back-face{
  h2{
    margin-top: -10%;
  }
  p{
    margin-top: 8%;
  }
}
.wrap-pyth{    
margin-top: 5%;
}
.pyth-btn{    
  width: 90%;
}

}
@media(max-width:850px) {

  /*Navbar 850 Query*/
  .logo {
    img {
      height: 100px;
      width: 120px;
      margin-left: -30%;
    }
  }

  .menu {

    li {
      a {
        margin-left: 1%;
      }
    }
  }


  /*Index 850 Query*/
  .content {
    display: grid;
    height: 130vh;
    width: 90%;
    margin-left: 2%;
    grid-template-areas: "title"
      "photo"
      "legend"
      "button";
    grid-template-columns: 2fr;
    grid-template-rows: 10% 40% 25% 30%;
  }

  .title {
    grid-area: title;
    text-align: center;
    font-size: 2em;
  }

  .profile {
    grid-area: photo;
    text-align: center;
    max-height: 100%;
    margin-top: 8%;
   margin-left: 0%;

    img {

      border-radius: 50%;
      max-width: 30%;
      height: 90%;
    }
  }

  .legend {
    grid-area: legend;
    text-align: center;
    width: 80%;
    margin-top: 3%;
    margin-left: 10%;
    font-size: 1.2em;
    line-height: 35px;
  }

  .wrap {
    grid-area: button;

    .btn {
      display: absolute;
      text-align: center;
      width: 70%;
      margin-top: 4%;
    }
  }

  /*Footer 850 Query*/
  footer {
    justify-content: center;
    position: relative;
  }

  footer {

    div {

      img {
        width: 55px;
        height: 55px;
        margin-right: 30px;
        margin-left: 10px;
      }
    }
  }

 

  /*Contact Form 850 Query*/
  .dbox {
    height: 100vh;
  }

  .split-screen {
    display: grid;
    grid-template-areas: "titlec"
      "info3"
      "contact2"
      "butt2";
    grid-template-columns: 1fr;
    grid-template-rows: 10% 30% 50% 10%;
    height: 90vh;
  }

  .copy {
    grid-area: titlec;
    justify-content: center;
    font-size: 1.2em;
    margin-top: 0%;
    margin-left: 30%;
  }

  .wrapper {
    grid-area: info3;
    margin-top: 1%;
    line-height: 20px;
    font-size: 0.75em;
  }

  .contact {
    grid-area: contact2;
    margin-top: 1%;
    margin-left: 20%;

  }

  .box1 {
    label {
      margin-top: 1%;
      font-size: 0.85em;
    }
  }

  .box2 {
    label {
      margin-top: 3%;
      font-size: 0.85em;
    }
  }

  .box3 {
    label {
      margin-top: 5%;
      font-size: 0.85em;
    }
  }

  .box4 {
    label {
      margin-top: 3%;
      font-size: 0.85em;
    }
  }

  .wrap4 {
    grid-area: butt2;
    margin-top: 10%;
    margin-left: 20%;

  }

  /*Portafolio 850 Query*/
  .frit{
    display: grid;
    grid-template-areas: "titlepr"
                          "optpr"
                          "cardpr";

    height: 130vh;
    width: 100%;
    grid-template-rows: 8% 12% 80% ;
    font-family: 'Montserrat', sans-serif;
  }
  .project-cont {
    height: 30vh;

    h1 {
      grid-area: titlepr;
      margin-top: 3%;
      justify-content: center;
      font-size: 2.6em;
      
    }

    ul {
      width: 90%;
      margin-top: 5%;
      font-size: 0.9em;
      margin-left: 5%;
      li{
        grid-area: optpr;
        width: 100%;
        justify-content: center;
       margin-left: -9%;
       
      }
    }
  }

  #slider {
    height: 50vh;
    width: 100%;
    margin-top: 5%;
    margin-left: -10%;
    transition: 1s ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
    img{
      width: 150%;
      height: auto;
      
    }
  }
/*Cards 850 Query*/
.menup{
  grid-area: cardpr;
  margin-top: 6%;
    display: grid;
    grid-template-areas: "card1   card2"
                          "card3  card4";
    height: 110vh;
    width: 100%;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2, 40%) ;
    font-family: 'Montserrat', sans-serif;
}
.cardp{
  margin-left: 15%;
  margin-top: 0%;
}
    .card1{
    grid-area: card1;
    width: 80%;
 
  } 
  .card2{
    grid-area: card2;
    width: 80%;
    margin-left: 5%;
  }
  .card3{
    grid-area: card3;
    margin-top: 10%;
    width: 80%;
  }
  /*About 850 Query*/
  .about-abt {
    grid-template-areas: "title3"
      "name3"
      "motus3"
      "picture2a"
      "description"
      "butt";
    height: 100vh;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 8% 10% 5% 35% 25% 10%;
  }

  .title2 {
    grid-area: title3;
    text-align: center;
    position: relative;
    margin-top: 2%;
    font-size: 1.4em;
  }

  .name {
    grid-area: name3;
    text-align: center;
    margin-top: 1%;
    font-size: 1.8;
  }

  .motus {
    grid-area: motus3;
    text-align: center;
    margin-top: 0%;
    font-size: 1.2em;
  }

  .picture {
    grid-area: picture2a;
    justify-content: center;
    margin-top: 0%;
    margin-left: 25%;

    img {
      max-width: 30%;
      height: 80%;
    }
  }

  .description {
    grid-area: description;
    text-align: center;
    width: 80%;
    margin-top: 0%;
    margin-left: 10%;
    font-size: 1em;
    line-height: 1.4em;
  }
.wrap-abt{
  grid-area: butt;
  text-align: center;
  margin-top: 1%;
  a{
    margin-left: 0%;
    font-size: 1em;
  }
}



/*Services 850 Query*/

.col{
  margin-left: 8%;
}
.list-services {
  height: 45vh;
  margin-top: 10%;
  margin-left: 5%;

  h5 {
    margin-left: 20%;
    font-size: 1.5em;
  }

  div {
    width: 100%;
    margin-left: 1%;

    p {
      width: 90%;
      font-size: 1.2em;
      margin-top: 4%;
      margin-left: 25%;
    }
  }
}

.design img {
  height: 15vh;
  width: 20vh;
  margin-top: 8%;
  margin-left: 40%;
}
}



@media(max-width:683px) {
/*Menu 683 Query*/
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100vh;
    width: 80%;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.2s ease-in-out;

    li {
      margin-top: 0px;

      a {

        padding: 10px;

      }
    }
  }
  .submenu{
    display: flex;
    li {
      padding-left: 30px;
      float: left;
  
    }
  }
  
  .dropdown_menu{
    display: none;
    
  }
  .submenu:hover
  .dropdown_menu{

    position: static; 
    top: 50%;
    display: block;
  
  
    ul{
      display: flex;
      flex-direction: column;
      
 
      li{
        
        overflow: hidden;
        flex-direction: column;
        margin-left: 5%;
        width: 70%;
        a{
          text-align: center;
          margin-top: 2%;
          
  
          &:after {
            width: auto;
        }
        &:hover {
          color: $solidcolor;
  
      }
      }
      }
    } 
  }
    
  .open-menu,
  .close-menu {
    position: absolute;
    display: block;
  }
  .open-menu {
    position: relative;
    ul{
      li{
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }}}
  #check:checked~.menu {
    right: 0;
  }

  /*Index 683 Query*/
  .title {
    font-size: 1.5em;
  }

  .profile {


    img {
      max-width: 50%;
    }
  }

  .legend {
    font-size: 1.1em;
  }

  .wrap {
    grid-area: button;

    .btn {

      font-size: 0.9em;
    }
  }

  /*About 683 Query*/
.about-btn {
    margin-top: 3%;
  }
.description{
  margin-top: 1%;
}
  .picture {
    height: 100%;
    width: 80%;
  

    img {
      height: 100%;
      max-width: 35%;

    }
  }
/*Services 683 Query*/

.col{
  margin-left: -12%;
    margin-top: 2%;
    width: 90%;
    height: 5%;
  }

  .design img { 
    height: 15vh;
    width:40vh;
    margin-top: 8%;
    margin-left: 6%;
  }
  .wth{
    img{
    margin-left: -4%;
    width: 35vh;
    }
  
  }
 
  .col{
  div {
    display: flex;
    flex-direction: vertical; 
    align-content: horizontal;

    p {
      width:150%;
      height: 40%;
      font-size: 1rem;
      margin-top: 15%;
      margin-left: 5%;
  
    } 
    h5{
      margin-top: 12%;
      font-size:1.3rem;
    }
    }
  }
  .list-services {
    height: 25vh;
    margin-top: 2%;}
  
  /*Portafolio 683 Query*/
  .frit{
    height: 130vh;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 8% 12% 80% ;
  }
  .project-cont {
    width: 70%;
    h1 {
      margin-left: 34%;
      font-size: 2.4em;
      width: 80%;
    }

    ul {
      width: 80%;
      margin-left: 30%;
    }
  }
/*Cards 683 Query*/
.menup{

    grid-template-columns: repeat(2,45%);
    grid-template-rows: repeat(2, 40%) ;

}
    .card1{
    margin-left: 5%;
  } 
  .card2{
    margin-left: 3%;
  }
  .card3{
    margin-left: 3%;
  }
  .centered {
    font-size: 2.9em;
  }
  }

@media(max-width:550px) {

  /*Index 550 Query*/
  .content {
    width: 70%;
    height: 120vh;
    margin-left: 12%;

    grid-template-rows: 15% 40% 30% 15%;
  }

  .title {
    text-align: center;
    margin-top: 6%;
    font-size: 1.3em;
  }

  .profile {
    margin-top: 10%;

    img {

      height: 80%;
      max-width: 60%;
    }
  }

  .legend {
    font-size: 0.9em;
    margin-top: 5%;
  }

  .wrap {

  width: 100%;
  margin-top: 2%;
  margin-left: 15%;

    .btn{
      text-align: center;
      font-size: 0.8em;
    
    }
  
  }

  /*Footer 550 Query*/
  footer {
    div {
      img {
        width: 50px;
        height: 50px;
        margin-top: 20px;
      }
    }
  }

  /*Contact Form 550 Query*/
  .split-screen {
    margin-top: 5%;
    grid-template-rows: 10% 30% 45% 10%;
  }

  .copy {
    text-align: center;
    margin-left: 10%;
  }

  .wrapper {
    margin-left: 15%;
    line-height: 15px;
    line-height: 20px;
  }

  .contact {
    margin-top: 1%;
  }

  .box1 {
    margin-top: 10%;
    font-size: 1.2em;

    input {
      font-size: small;
    }
  }

  .box2 {
    font-size: 1.2em;

    input {
      font-size: small;
    }
  }

  .box3 {
    font-size: 1.2em;

    input {
      font-size: small;
    }
  }

  .box4 {
    font-size: 1.2em;

    textarea {
      font-size: small;
    }
  }

  .wrap4 {
    margin-left: 10%;

  }

  .btn2 {
    font-size: 10px;
    width: 100%;
    font-size: 0.75em;
  }

  /*Portafolio 550 Query*/
  .project-cont {
   
    width: 60%;
    ul {
      display: flex;
      justify-content: center;
      width: 85%;
      margin-left: 45%;
      padding-right: 0%;
      margin-top: 10%;

      li {
        margin-top: 1%;
        margin-left: 1%;
        font-size: 0.8em;
        
        a{
          margin-left: 0%;
        }
      }
    }
    h1 {
      width: 80%;
      margin-top: 5%;
      margin-left: 50%;
      font-size: 1.8em;
    }
  }

  #slider {
    margin-top: -5%;
    margin-left: -9%;

  }
  /*Cards 550 Query*/

  .menup{
    grid-template-areas: "card6"
                         "card7"
                         "card8";
    height: 150vh;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,30%) ; 
  }
    .card1{
    grid-area: card6;
    width: 60%;
    justify-content: center;
    
  }
  .centered {
    font-size: 4em; 
  }
  .card2{
    grid-area: card7; 
    width: 60%;
    margin-left: 20%;
   
  }
  .card3{
    grid-area: card8;
   margin-top: 0%;
    width: 60%;
  
  }

  
  /*About 550 Query*/
  .about-abt {
    grid-template-rows: 5% 7% 5% 40% 35% 10%;
  }

  .title2 {
    font-size: 1em;
  }

  .name {
    font-size: 1.4em;
  }

  .motus {
    font-size: 0.9em;
  }

  .picture {
    text-align: center;
    margin-top: 0%;
    max-height: 120%;
    width: 100%;
    margin-left: 0%;
    padding-left: 0%;
 
  }

  .description {
    font-size: 0.9em;
    line-height: 1.5em;
    margin-top: 5%;
  }

  .wrap-abt {

    a {
      margin-top: 1%;
      text-align: center;
      width: 80%;
      font-size: 0.8em;
    }
  }

  /*Services 550 Query*/


    .design img { 
      margin-top: 10%;
      height: 15vh;
      width:30vh;
 
    }
    .wth{
      img{
      width: 25vh;
      }
    }
   
    .col{
    div {
      p {
        width: 100%;
        font-size: 0.9rem;
        margin-left: 3%;
    
      } 
      h5{
        margin-top: 15%;
        font-size:1.1rem;
      }
      }
    }
    .list-services {
      height: 25vh;
      margin-top: 2%;}
    }


@media(max-width:400px) {

  /*About 400 Query*/
  .about-abt {
    grid-template-rows: 4% 6% 4% 30% 35% 15%;
  }

  .title2 {
    font-size: 0.9em;
  }

  .name {
    margin-top: 2%;
    font-size: 1.4em;
  }

  .motus {

    font-size: 0.8em;
  }

  .picture {
    margin-top: -5%;

    max-height: 110%;
    width: 100%;  
  }

  .description {
    margin-top: 4%;
    font-size: 0.9em;
    line-height: 1.4em;
    margin-top: 5%;
    overflow-y: scroll;
  }

  .wrap-abt {

    a {
      margin-top: 4%;
      text-align: center;
      width: 80%;
      font-size: 0.7em;
    }
  }

  /*Index 400 Query*/
  .content {
    height: 100vh;
    width: 100%;
    margin-left: 0%;
    grid-template-rows: 12% 40% 30% 10%;
  }

  .title {
    margin-left: 2%;
    align-items: center;
    font-size: 1.2em;
  }

  .profile {

    margin-top: 15%;



    img {

      height: 90%;
      max-width: 60%;
    }
  }

  .legend {
    width: 90%;
    margin-top: 10%;
    margin-left: 4%;
    font-size: 12px;
    line-height: 20px;
  }

  .wrap {
    margin-top: 0%;
    object-position: center;
    width: 80%;

    .btn {
      width: 90%;
      font-size: .7em;
      

    }
  }

  /*Contact Form 400 Query*/

  .split-screen {
    height: 90vh;
    grid-template-rows: 10% 20% 55% 15%;
  }

  .copy {
    margin-top: 8%;
    margin-left: 3%;
    font-size: 1em;
    width: 100%;
  }

  .wrapper {

    font-size: 0.2em;
    margin-left: 10%;
    width: 85%;
  }

  .contact {
    margin-top: 20%;
    height: 10%;
  }

  .box1 {
    padding-top: 0%;
    font-size: 0.2em;

  }

  .box2 {
    padding-top: 5%;
    font-size: 0.2em;
  }

  .box3 {
    padding-top: 8%;
    font-size: 0.2em;
  }

  .box3 {
    label {
      margin-top: 7%;
    }
  }

  .box4 {
    padding-top: 12%;
    font-size: 0.2em;
  }

  .box4 {
    label {
      margin-top: 10%;
      font-size: 0.2em;
    }

    textarea {
      padding-top: 0%;
      height: 40%;
    }
  }

  .wrap4 {
    margin-top: 5%;
    margin-left: 5%;
  }

  .btn2 {
    font-size: 8px;
    width: 10%;
  }

  /*Portafolio 400 Query*/
  .project-cont {
    height: 20vh;
    h1 {
      font-size: 1.6em;
      margin-left: 38%;
    }
    ul {
      height: 40%;
      margin-left: 35%;

      li {
        font-size: 0.8em;
        margin-left: 2%;
        
      }
    }
  }

  #slider {

    margin-top: 10%;
    margin-left: -10%;


  }

 
  /*Services 400 Query*/
  .col{
    margin-left: -12%;
    }
    .design 
    {img { 
      height: 15vh;
      width:30vh;
    }
  }
    .wth{
      img{
      width: 25vh;
      }
    }
    .col{
      div {
        p {
     font-size: 0.8rem;

        } 
        h5{
          font-size:1rem;
        }
        }
      }
    
}


