@media(max-width:1024px) {

    /*Navbar 1024 Query*/
    .logo img {
        height: 100px;
        width: 120px;
    }

    /*Index 1024 Query*/
    .content {
        margin-left: 5%;
        grid-template-rows: 100px 150px 60px;
    }

    .title {
        font-size: 2em;
    }

    .legend {
      margin-top: 5%;
        font-size: 1em;
    }

    .profile {

        margin-top: 3%;
        margin-left: 15%;
    
        img {
          max-height: 80%;
          max-width: auto;
        
        }
    }
.wrap{
  grid-area: button;
    .btn {
        font-size: 0.9em;
        width: 55%;
    }
  }
/*Footer 1024 Query*/
footer{
        div{
         img{
        width: 55px;
        height:55px;
      }
    }
}
/*Contact Form 1024 Query*/
.copy{
    height: 100%;
    padding-top: 5%;
    margin-left: 15%;
    font-size:1.5em;
  }
.wrapper{
    text-align: left;
    font-size: 0.8em;
    margin-top: 1%;
    padding-top: 6%;
}
  .contact{
    margin-top: 12%;
    font-size:x-small;
    font-weight: 100;
  }
  .box1{
    input{
      font-size: 1em;
    }
  }
  .box2 {
    label{
      margin-top: 6%;
    }
    input{
      font-size: 1em;
    }
}
  .box3 {
    label{
    margin-top: 8%;
  }
  input{
    font-size: 1em;
  }
}
  .box4 {
    label{
    margin-top: 6%;
  }
textarea{
    font-size: 1em;
  }
}
  .wrap4{ 
    margin-top: 15%;
    margin-left: 30%;
  }

/*Portafolio 1024 Query*/
.project-cont{
  margin-left: -5%;
  height: 30vh;
  ul {
      width:110%;
      margin-left: 2%;    
      li{
        margin-left: 3%;
        font-size: 1em;
      } 
    }
      h1{
        margin-left: 3%;
        font-size: 1.5em;
      } 
    }
#slider{
    height: 50vh;
    margin-top: -3%;
    margin-left: -3%;
    

}
/*About 1024 Query*/
.title2{
  font-size: 1.4em; 
}
.name{
  font-size: 2em;
}
.motus{
  font-size: 1.2em;
}
.about-abt{
    grid-template-rows: repeat(2, 10%) 6% 50% 20%;
    height: 70vh;
    }   
    .description{
      margin-top: 5%;
      font-size: 0.9em;  
      line-height: 2em;
    }
}
.wrap-abt{
 margin-top: 1%;
 a{
  font-size: 0.7em;
}
}

@media(max-width:850px) {

/*Navbar 850 Query*/
    .logo {
        img {
            height: 100px;
            width: 120px;
            margin-left: -30%;
        }
    }

    .menu {
    
        li {
            a {
                margin-left: 1%;
            }
        }
    }


/*Index 850 Query*/
.content {
  display: grid;
  height: 130vh;
  width: 90%;
  margin-left: 2%;
  grid-template-areas: "title"
      "photo"
      "legend"
      "button";
  grid-template-columns: 2fr;
  grid-template-rows: 10% 40% 25% 30%;
}

.title {
  grid-area: title;
  text-align: center;
  font-size:2em;
}

.profile {
  grid-area: photo;
  max-height: 100%;
  margin-top: 8%;
  margin-left: 37%;

  img {
  
      border-radius: 50%;
      max-width: 30%;
      height: 90%;
  }
}

.legend {
  grid-area: legend;
  text-align: center;
  width: 80%;
  margin-top: 3%;
  margin-left: 10%;
  font-size: 1.2em;
  line-height: 35px;
}

.wrap {
  grid-area: button;
.btn {
  display: absolute;
  width: 70%;
  margin-top: 4%;
  margin-left: -20%;
}
}
/*Footer 850 Query*/
     footer{
        justify-content: center;
        position: relative;
      }
      footer{

      div{

       img{
        width: 55px;
        height:55px;
        margin-right: 30px; 
        margin-left: 10px;
      }
    }
}
      .wrap{
        
        margin-left: 40%;
      }
/*Contact Form 850 Query*/
.dbox{
    height: 100vh;
  }
  .split-screen{
    display: grid;
    grid-template-areas: "titlec"
                          "info3"
                          "contact2"
                          "butt2";
    grid-template-columns: 1fr;
    grid-template-rows: 10% 30% 50% 10%;
    height: 90vh;
  }   
  .copy{
    grid-area: titlec;
    justify-content: center;
    font-size:1.2em;
    margin-top: 0%;
    margin-left: 30%;
  }
  .wrapper{ 
    grid-area: info3;
    margin-top: 1%;
    line-height: 20px;
    font-size: 0.75em;
  }
  .contact{
    grid-area: contact2;
    margin-top: 1%; 
    margin-left: 20%;
  
  }
  .box1{
     label{
    margin-top: 1%;
    font-size: 0.85em;
  }
}
  .box2{
     label{
    margin-top: 3%;
    font-size: 0.85em;
  }
}
  .box3 {
    label{
    margin-top: 5%;
    font-size: 0.85em;
  }
}
  .box4 {
    label{
    margin-top: 3%;
    font-size: 0.85em;
  }
}
  .wrap4{ 
    grid-area: butt2;
    margin-top: 10%;
    margin-left: 20%;
    
  }

/*Portafolio 850 Query*/
.project-cont{
    height: 30vh;
    h1{
     margin-top: 3%;
     margin-left: 0%;
     font-size: 1.4em;
   } 
   ul {
     width:110%;
     margin-left: 0%;
     font-size: 0.9em;
   }
}
   #slider{
    height: 50vh;
    width: 90%;
    margin-top: 1%;
    margin-left: 2%;
    transition: 1s ease-in-out;
    &:hover{
       transform:scale(1.2);
    }
  }
 /*About 850 Query*/
    .about-abt{
        grid-template-areas: "title3"
                             "name3"
                             "motus3"
                             "picture2"
                             "description"
                             "butt";
        height: 100vh;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 8% 10% 5% 40% 20% 10%;
      }
      .title2{
        grid-area: title3;
        text-align: center;
        position: relative;
        margin-top: 2%;
        font-size: 1.1em;  
      }
      .name{
        grid-area: name3;
        text-align: center;
        margin-top: 1%;
        font-size: 1.5;  
      }
      .motus{
        grid-area: motus3;
        text-align: center;
        margin-top: 0%;
        font-size: 1em;
      }
      .picture{
        grid-area: picture2;
        justify-content: center;
        margin-top: 0%;
        margin-left: 20%;
      img{
        max-width: 40%;
        height: 100%;
      } 
    }
      .description{
        grid-area: description;
        text-align: center;
        width: 80%;
        margin-top: 2%;
        margin-left: 10%;
        font-size: 0.9em;  
        line-height: 1.4em;
      }
      .about-btn {
        grid-area: butt;
        text-align: center;
        width: 80%;
        margin-top: 2%;
        margin-left: 10%;
        a{
          font-size: 0.9em;
        }
      }
    } 
/*Services 850 Query*/
.list-services{
    height: 45vh;
    margin-top: 10%;
    margin-left: 5%;
  
h5{
    margin-left: 20%;
    font-size: 1.5em;
  }
div{
    width: 100%;
    margin-left: 1%;
  
  p{
    width: 90%;
    font-size: 1.2em;
    margin-top: 4%;
    margin-left: 25%;
  }
}
}
  .design img{
    height: 15vh;
    width: 20vh;
    margin-top: 8%;
    margin-left: 40%;
  } 



/*Menu 683 Query*/
@media(max-width:683px) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        height: 100vh;
        width: 80%;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.8);
        transition: all 0.2s ease-in-out;
        li {
            margin-top: 40px;
        

        a {
            
            padding: 10px;
           
        }
    }
    }
    .open-menu,
    .close-menu {
        display: block;
    }

    #check:checked~.menu {
        right: 0;
    }
/*Index 683 Query*/
.title {
  font-size: 1.5em;
} 
.profile {  
  margin-top: 8%;
  margin-left: 30%;
  img{
    max-width: 50%;
  }
}
.legend {
  font-size: 1.1em;
}
.wrap {
  grid-area: button;
.btn {
text-align: center;
font-size: 0.9em;
}
}

/*About 683 Query*/
.about-btn {
  margin-top: 7%;
}
}
@media(max-width:550px){

/*Index 550 Query*/
    .content {
        width: 70%;
        height: 120vh;
        margin-left: 12%;

        grid-template-rows: 15% 40% 35% 15%;
    }

    .title {
        text-align: center;
        margin-top: 6%;
        font-size: 1.2em;
    }

    .profile {
        margin-top: 10%;
        margin-left: 23%;
        img {
    
            height: 80%;
            max-width: 60%;
        }
    }

    .legend {
        font-size: 0.8em;
        margin-top: 5%;
    }
    .wrap {
      font-size: 0.8em;
        width: 90%;
       
   

        }
/*Footer 550 Query*/  
      footer{
         div{
             img{
        width: 50px;
        height:50px;
        margin-top: 20px; 
      } 
    }
}
/*Contact Form 550 Query*/
.split-screen{
    margin-top: 5%;
    grid-template-rows: 10% 30% 45% 10%;
  }
  .copy{
    text-align: center;
    margin-left: 10%;
  }
  .wrapper{
    margin-left: 15%;
    line-height: 15px;
    line-height: 20px;
  }
  .contact{
    margin-top: 1%;
  }
  .box1{
    margin-top: 10%;
    font-size: 1.2em;
  
    input{
    font-size: small;
  }
}
  .box2{
    font-size: 1.2em;

input{
    font-size: small;
  }
}
  .box3{
    font-size: 1.2em;
    input{
    font-size: small;
    }
}
  .box4{
    font-size: 1.2em;
textarea{
    font-size: small;
  }
}
  .wrap4{ 
    margin-left: 10%;
    
  }
  .btn2{
    font-size: 10px;
    width: 100%;
    font-size: 0.75em;
  }
/*Portafolio 550 Query*/
.project-cont{
    height: 6vh;
    font-size: 0.8em;
    margin-top: -5%;
    ul {
    width:100%;
  text-align: center;
    margin-left: 0%;

   li{
    margin-top: 8%;
    margin-left: 3%;
    font-size: 0.90em;
  } 
}
h1{
    margin-top: 10%;
    margin-left: 0%;
    font-size: 1.4em;
  } 
}

#slider{
    margin-top: 32%;
    margin-left: -5%;
    height: 50%;
    width: 100%;
  }
  /*About 550 Query*/
  .about-abt{
    margin-left: 5%;
    height: 100vh;
    margin-top: 4%;
    grid-template-areas:"titlea"
                        "namea"
                        "motusa"
                        "picturea"
                        "descriptiona"
                        "bttna";
    grid-template-columns: 0.90fr;
grid-template-rows: 4% 5% 5% 30% 35% 10%;
  }
  .title2{
    grid-area: titlea;
    font-size: 1em; 
    margin-top: 0%; 
   text-align: center;
  }
  .name{
    grid-area: namea;
    font-size: 1.4em;
    margin-top: 0%;
    text-align: center;
  }
  .motus{
    grid-area: motusa;
    font-size: 0.9em;
    text-align: center;
  }
  .picture{
    grid-area: picturea;
    justify-content: center;
    height: 120%;
    width: 100%;
  }
  .description{
    grid-area: descriptiona;
    font-size: 0.9em; 
    line-height: 1.5;
    margin-top: 15%;
    text-align: center;
  }
  .wrap-abt{
    grid-area: bttna;
 
     a{
      margin-top: 12%;
    text-align: center;
    width: 80%;
    font-size: 10px;
  } 
}
/*Services 550 Query*/
.list-services{
    margin-left: 17%;
    margin-top: -3%;
  h5{
    font-size: 1.2em;
  }
  div{
  p{
    font-size: 1em;
  }
}
}
}


@media(max-width:400px){
  /*About 400 Query*/
  .about-abt{
    height: 140vh;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 5% 5% 30% 25% 10%;
  }
  .title2{
    font-size: 0.9em;  
  }
  .name{
    font-size: 1.2em;
  }
  .motus{
    font-size: 0.7em;
    margin-top: 2%;
  }
  .description{
    line-height: 0.4em;
    font-size: 0.6em; 
  } 
.picture{
  img{
    margin-left: 50%;
    width: 150%;
  }
  
}
  .wrap-abt{
    margin-top: 12%;
    justify-content: center;
    width: 85%;
  }
  .wrap-abt a{
  font-size: 8px;
  } 

    /*Index 400 Query*/
    .content {
        height: 100vh;
        width: 100%;
        margin-left: 0%;
        grid-template-rows: 12% 40% 30% 10%;
    }

    .title {
        margin-left: 2%;
        align-items: center;
        font-size: 1.2em;
    }

    .profile {
     
        margin-top: 15%;
        margin-left: 25%;
        
    
        img {
          
            height: 90%;
         max-width: 60%;
        }
    }

    .legend {
        width: 90%;
        margin-top: 10%;
        margin-left: 4%;
        font-size: 12px;
        line-height: 20px;
    }

    .wrap {
        margin-top: 0%;
        margin-left: 25%;
       object-position: center;
        width: 80%;

    .btn {
        width: 100%;
        font-size: .7em;

    }
}
/*Contact Form 400 Query*/

.split-screen{
    height: 90vh;
    grid-template-rows: 10% 20% 55% 15%;
  }
  .copy{
    margin-top: 8%;  
    margin-left: 3%;
    font-size: 1em;
    width: 100%;
  }
  .wrapper{
  
    font-size: 0.2em;
    margin-left: 10%;
    width: 85%;
  }
  .contact{
    margin-top: 20%;
    height:10%;
  }
  .box1{
    padding-top: 0%;
    font-size: 0.2em;
  
  }
  .box2{
    padding-top: 5%;
    font-size: 0.2em;
  }
  .box3{
    padding-top: 8%;
    font-size: 0.2em;
  }
  .box3{
     label{
    margin-top: 7%;
  }
}
  .box4{
    padding-top: 12%;
    font-size: 0.2em;
  }
  .box4{
    label{
        margin-top: 10%;
        font-size: 0.2em;
  }

    textarea{
    padding-top: 0%;
    height: 40%;
  }
}
  .wrap4{ 
    margin-top: 5%;
    margin-left: 5%;
  }
  .btn2{
    font-size: 8px;
     width: 10%;
}
/*Portafolio 400 Query*/
.project-cont{
    height: 20vh;
 
  
   ul {
    height: 40%;
     width:90%; 
     margin-left: 6%;
   
   li{
    font-size: 0.8em;
    margin-top: 8%;
    margin-left: 2%;
    text-align: center;
   }
   h1{
    font-size: 1.4em;

   }
}
}
   #slider{
    height: 45vh;
    width: 130%;
    margin-top: 20%;
    margin-left:-20%;
&:hover{
    transform:scale(1.2);
}
   }
/*About 400 query*/
.about-abt{
    height: 80vh;
    grid-template-rows: 5% 5% 5% 30% 30% 10%;
  }
  .title2{
    font-size: 15PX;  
  }
  .name{
    font-size: 25PX;
  }
  .motus{
    font-size: 15PX;
    margin-top: 2%;
   
  }
  .picture{
    height: 30vh;
    width: 30vh;
    margin-top: -2%;
    margin-left: 10%;
  }

  .description{
    line-height: 25px;
    font-size: 10PX;  
    margin-left:10%;
  } 
  .wrap-abt{
    margin-left: 2%;
  }
  .wrap-abt a{
  font-size: 8px;
  } 
/*Services 400 Query*/
.list-services{
    margin-top: 5%;
    margin-left: 10%;
    padding: 0%;
h5{
  margin-left: 0%;
  font-size: 0.9em;
}
div {
    p{
  text-align: center;
  width: 60%;
  margin-left: 20%;
  padding-top: 2%;  
  font-size: 0.8em;
  }
}
}
.design {
    img{
  margin-left: 1%;
  height: 15vh;
  width:100px;
  gap: 2%;
    }
}

}