@media(max-width:1024px) {

    /*Navbar 1024 Query*/
    .logo img {
        height: 100px;
        width: 120px;
    }

    /*Index 1024 Query*/
    .content {
        margin-left: 5%;
        grid-template-rows: 120px 150px 60px;
    }

    .title {
        font-size: 30px;
    }

    .legend {
        font-size: 16px;
    }

    .profile {

        margin-top: 3%;
        margin-left: 50%;

        img {
            width: 100%;
        }
    }

    .btn {
        grid-area: button;
        font-size: 16px;
        width: 55%;
    }
    /*Footer 1024 Query*/
    footer{
        div{
         img{
        width: 55px;
        height:55px;
      }
    }
}
/*Contact Form 1024 Query*/
.copy{
    height: 100%;
    padding-top: 5%;
    margin-left: 15%;
    font-size:1.5em;
  }
  .wrapper{
    text-align: left;
    font-size: 0.8em;
    margin-top: 1%;
    padding-top: 6%;
  }
  .contact{
    margin-top: 12%;
    font-size:x-small;
    font-weight: 100;
  }
  .box2 {
    label{
      margin-top: 6%;
    }
}
  .box3 {
    label{
    margin-top: 8%;
  }
}
  .box4 {
    label{
    margin-top: 6%;
  }
textarea{
    font-size: 16px;
  }
}
  .wrap4{ 
    margin-top: 15%;
    margin-left: 30%;
  }

/*Portafolio 1024 Query*/
.project-cont{
    margin-left: -5%;
    height: 30vh;
   ul {
        width:110%;
        margin-left: 2%;    
      
      li{
        margin-left: 3%;
        font-size: 15PX;
      } 
    }
      h1{
        margin-left: 3%;
        font-size: 25PX;
      } 
    }
#slider{
    height: 50vh;
    margin-left: -6%;
    

}
/*About 1024 Query*/
.about-abt{
    grid-template-rows: repeat(2, 10%) 6% 50% 20%;
    height: 70vh;
    }   
    .description{
      margin-top: 5%;
      font-size: 18PX;  
      line-height: 30px;
    }
}

@media(max-width:850px) {

/*Navbar 850 Query*/
    .logo {
        img {
            height: 100px;
            width: 120px;
            margin-left: -30%;
        }
    }

    .menu {
    
        li {
            a {
                margin-left: 1%;
            }
        }
    }

/*Index 850 Query*/
    .content {
        display: grid;
        height: 130vh;
        width: 100%;
        margin-left: 2%;
        grid-template-areas: "title"
            "photo"
            "legend"
            "button";
        grid-template-columns: 2fr;
        grid-template-rows: 10% 40% 25% 30%;
    }

    .title {
        grid-area: title;
        margin-left: 20%;
        font-size: 29px;
    }

    .profile {
        grid-area: photo;
        height: 100%;
        margin-top: 2%;
        margin-left: 30%;

        img {
            grid-area: photo;
    
            border-radius: 50%;
            width: 40%;
            height: 90%;
        }
    }

    .legend {
        grid-area: legend;
        text-align: center;
        width: 80%;
        margin-top: 3%;
        margin-left: 10%;
        font-size: 18px;
        line-height: 35px;
    }

    .wrap {
        grid-area: button;
        width: 100%;
        margin-top: 4%;
        margin-left: -20%;
        
       
  

    .btn {
        margin-left: -20%;
      
      
    }
}
     /*Footer 850 Query*/
     footer{
        justify-content: center;
        position: relative;
      }
      footer{

      div{

       img{
        width: 55px;
        height:55px;
        margin-right: 30px; 
        margin-left: 10px;
      }
    }
}
      .wrap{
        
        margin-left: 40%;
      }
/*Contact Form 850 Query*/
.dbox{
    height: 100vh;
  }
  .split-screen{
    display: grid;
    grid-template-areas: "title"
                          "info3"
                          "contact2"
                          "butt2";
    grid-template-columns: 1fr;
    grid-template-rows: 10% 30% 50% 10%;
    height: 90vh;
  }   
  .copy{
    grid-area: title;
    justify-content: center;
    font-size:1.2em;
    margin-top: 5%;
    margin-left: 30%;
  }
  .wrapper{ 
    grid-area: info3;
    margin-top: 1%;
    line-height: 20px;
    font-size: 0.75em;
  }
  .contact{
    grid-area: contact2;
    margin-top: 1%; 
    margin-left: 20%;
  
  }
  .box1{
     label{
    margin-top: 1%;
    font-size: 0.85em;
  }
}
  .box2{
     label{
    margin-top: 3%;
    font-size: 0.85em;
  }
}
  .box3 {
    label{
    margin-top: 5%;
    font-size: 0.85em;
  }
}
  .box4 {
    label{
    margin-top: 3%;
    font-size: 0.85em;
  }
}
  .wrap4{ 
    grid-area: butt2;
    margin-top: 10%;
    margin-left: 20%;
    
  }

/*Portafolio 850 Query*/
.project-cont{
    height: 30vh;
    h1{
     margin-top: 3%;
     margin-left: 0%;
     font-size: 20PX;
   } 
   ul {
     width:110%;
     margin-left: 0%;
   }
}
   #slider{
    height: 50vh;
    width: 90%;
    margin-left: 3%;
    transition: 1s ease-in-out;
    &:hover{
       transform:scale(1.2);
    }
 /*About 850 Query*/
    .about-abt{
        grid-template-areas: "title3"
                             "name3"
                             "motus3"
                             "picture2"
                             "description"
                             "butt";
        height: 100vh;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 5% 5% 5% 50% 20% 10%;
      }
      .title2{
        grid-area: title3;
        text-align: center;
        position: relative;
        margin-top: 2%;
        font-size: 19px;  
      }
      .name{
        grid-area: name3;
        text-align: center;
        margin-top: 1%;
        font-size: 29PX;  
      }
      .motus{
        grid-area: motus3;
        text-align: center;
        margin-top: 1%;
        font-size: 18PX;
      }
      .picture{
        grid-area: picture2;
        justify-content: center;
        margin-top: 0%;
        margin-left: 20%;
      img{
        width: 50%;
        height: 100%;
      } 
    }
      .description{
        grid-area: description;
        text-align: center;
        margin-top: 2%;
        margin-left: 10%;
        font-size: 18PX;  
        line-height: 30px;
      }
      .about-btn {
        grid-area: butt;
        text-align: center;
        width: 80%;
        margin-top: 0%;
        margin-left: 10%;
      }
    } 
/*Services 850 Query*/
.list-services{
    height: 45vh;
    margin-top: 10%;
    margin-left: 5%;
  
h5{
    margin-left: 20%;
    font-size: 25PX;
  }
div{
    width: 100%;

    margin-left: 1%;
  
  p{
    width: 90%;
    font-size: 18px;
    margin-top: 4%;
    margin-left: 25%;
  }
}
}
  .design img{
    height: 15vh;
    width: 20vh;
    margin-top: 8%;
    margin-left: 40%;
  } 

}

/*Index 683 Query*/
@media(max-width:683px) {
 
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        height: 100vh;
        width: 80%;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.8);
        transition: all 0.2s ease-in-out;
     

        li {
            margin-top: 40px;
        

        a {
            
            padding: 10px;
           
        }
    }
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    #check:checked~.menu {
        right: 0;
    }
}

@media(max-width:550px){

    /*Index 550 Query*/
    .content {
        width: 70%;
        height: 120vh;
        margin-left: 12%;
        grid-column: 1fr;
        grid-template-rows: 15% 40% 35% 15%;
    }

    .title {
        text-align: center;
        margin-top: 6%;
        margin-left: 12%;
        font-size: 26px;
    }

    .profile {
        margin-top: 8%;
        margin-left: 23%;
        img {
          
         
            height: 80%;
            width: 60%;
        }
    }

    .legend {
        width: 100%;
        margin-top: 3%;
        margin-left: 5%;
        font-size: 15px;
        line-height: 30px;
    }

    .wrap {
        width: 100%;
        margin-top: -5%;
        margin-left: 42%; 
        text-align: center;

        }
      /*Footer 550 Query*/  
      footer{
         div{
             img{
        width: 50px;
        height:50px;
        margin-top: 20px; 
      } 
    }
}
/*Contact Form 550 Query*/

.split-screen{
    margin-top: 5%;
    grid-template-rows: 10% 30% 45% 10%;
  }
  .copy{
    text-align: center;
    margin-left: 10%;
  }
  .wrapper{
    margin-left: 15%;
    line-height: 15px;
    line-height: 20px;
  }
  .contact{
    margin-top: 1%;
  }
  .box1{
    margin-top: 10%;
    font-size: 1.2em;
  
    input{
    font-size: small;
  }
}
  .box2{
    font-size: 1.2em;

input{
    font-size: small;
  }
}
  .box3{
    font-size: 1.2em;
    input{
    font-size: small;
    }
}
  .box4{
    font-size: 1.2em;
textarea{
    font-size: small;
  }
}
  .wrap4{ 
    margin-left: 10%;
    
  }
  .btn2{
    font-size: 10px;
    width: 100%;
    font-size: 0.75em;
  }
/*Portafolio 550 Query*/

.project-cont{
    height: 8vh;
    font-size: 15px;
    margin-top: -5%;
   
    ul {
    width:100%;
  text-align: center;
    margin-left: 0%;

   li{
    margin-top: 8%;
    margin-left: 3%;
    font-size: 12PX;
  } 
}
h1{
    margin-top: 10%;
    margin-left: 0%;
    font-size: 20PX;
  } 
}

#slider{
    
    margin-top: 30%;
    margin-left: -5%;
    height: 50%;
    width: 100%;

  
  }
  /*About 550 Query*/
  .about-abt{
    margin-left: 5%;
    height: 100vh;
    margin-top: 4%;
    grid-template-areas:"titlea"
                        "namea"
                        "motusa"
                        "picturea"
                        "descriptiona"
                        "bttna";
    grid-template-columns: 0.90fr;
grid-template-rows: 5% 5% 5% 30% 35% 10%;
  }
  .title2{
    grid-area: titlea;
    font-size: 18px; 
    margin-top: 0%; 
    margin-left:-5%;
  }
  .name{
    grid-area: namea;
    font-size: 28PX;
    margin-left: -5%;
  }
  .motus{
    grid-area: motusa;
    font-size: 17PX;
    margin-left: -5%;
  }
  .picture{
    grid-area: picturea;
    height: 40vh;
    width: 40vh;
    margin-top: -2%;
    margin-left: 10%;
  }
  .description{
    grid-area: descriptiona;
    line-height: 30px;
    font-size: 14PX; 
    margin-top: 5%;
    margin-left: 10%; 
  }
  .wrap-abt{
    grid-area: bttna;
     a{
    text-align: center;
    margin-left: 10%;
    width: 80%;
    font-size: 10px;
  } 
}
/*Services 550 Query*/
.list-services{
    margin-left: 17%;
    margin-top: -3%;
  h5{
    font-size: 20PX;
  }
}
}


@media(max-width:400px){
  .about-abt{
    height: 80vh;
    grid-template-rows: 5% 5% 5% 30% 25% 10%;
  }
  .title2{
    font-size: 15PX;  
  }
  .name{
    font-size: 25PX;
  }
  .motus{
    font-size: 15PX;
    margin-top: 2%;
  }
  .description{
    line-height: 25px;
    font-size: 10PX;  
  } 
  .wrap-abt{
    margin-left: -2%;
  }
  .wrap-abt a{
  font-size: 8px;
  } 
}




@media(max-width:400px) {

    /*Index 400 Query*/
    .content {
        height: 100vh;
        width: 100%;
        margin-left: 1%;
        grid-template-rows: 12% 40% 35% 10%;
    }

    .title {
        margin-left: 5%;
        text-align: center;
        font-size: 20px;
    }

    .profile {
        margin-top: 0%;
        margin-left:20%;
        img {
           
          
            height: 100%;
            width: 60%;
        }
    }

    .legend {
        width: 90%;
        margin-top: 12%;
        margin-left: 4%;
        font-size: 12px;
        line-height: 20px;
    }

    .wrap {
        margin-top: 0%;
        margin-left: 28%;
        width: 100%;
   

    .btn {
        width: 80%;
        font-size: 10px;

    }
}
/*Contact Form 400 Query*/

.split-screen{
    height: 90vh;
    grid-template-rows: 10% 20% 55% 15%;
  }
  .copy{
    margin-top: 8%;  
    margin-left: 3%;
    font-size: 1em;
    width: 100%;
  }
  .wrapper{
  
    font-size: 0.2em;
    margin-left: 10%;
    width: 85%;
  }
  .contact{
    margin-top: 20%;
    height:10%;
  }
  .box1{
    padding-top: 0%;
    font-size: 0.2em;
  
  }
  .box2{
    padding-top: 5%;
    font-size: 0.2em;
  }
  .box3{
    padding-top: 8%;
    font-size: 0.2em;
  }
  .box3{
     label{
    margin-top: 7%;
  }
}
  .box4{
    padding-top: 12%;
    font-size: 0.2em;
  }
  .box4{
    label{
        margin-top: 10%;
        font-size: 0.2em;
  }

    textarea{
    padding-top: 0%;
    height: 40%;
  }
}
  .wrap4{ 
    margin-top: 5%;
    margin-left: 5%;
  }
  .btn2{
    font-size: 8px;
     width: 10%;
}
/*Portafolio 400 Query*/
.project-cont{
    height: 20vh;
 
  
   ul {
    height: 40%;
     width:90%; 
     margin-left: 6%;
   
   li{
    font-size: 12px;
    margin-top: 8%;
    margin-left: 2%;
    text-align: center;
   }
}
}
   #slider{
    height: 50vh;
    width: 130%;
    margin-top: 24%;
    margin-left:-20%;
&:hover{
    transform:scale(1.2);
}
   }
/*About 400 query*/
.about-abt{
    height: 80vh;
    grid-template-rows: 5% 5% 5% 30% 30% 10%;
  }
  .title2{
    font-size: 15PX;  
  }
  .name{
    font-size: 25PX;
  }
  .motus{
    font-size: 15PX;
    margin-top: 2%;
   
  }
  .picture{
    height: 30vh;
    width: 30vh;
    margin-top: -2%;
    margin-left: 10%;
  }

  .description{
    line-height: 25px;
    font-size: 10PX;  
    margin-left:10%;
  } 
  .wrap-abt{
    margin-left: 2%;
  }
  .wrap-abt a{
  font-size: 8px;
  } 
/*Services 400 Query*/
.list-services{
    margin-top: 5%;
    margin-left: 10%;
h5{
  margin-left: 0%;
  font-size: 20px;
}
div {
    p{
  width: 100%;
  margin-left: 3%;
  padding-top: 2%;  
  font-size: 15px;
  }
}
}
.design {
    img{
  margin-left: 1%;
  height: 20vh;
  width:130px;

    }
}
}